name: CI
on: [pull_request]

jobs:
  test:
    name: Test Dockerfile Parsers
    runs-on: ubuntu-latest
    outputs:
      dockerfile_matrix: ${{ steps.dockerfile_check.outputs.dockerfile_matrix }}
      dockerhierarchy_matrix: ${{ steps.dockerhierarchy_check.outputs.dockerhierarchy_matrix }}
      dockerfilelist_matrix: ${{ steps.dockerfilelist_check.outputs.dockerfilelist_matrix }}
      dockerbuild_matrix: ${{ steps.dockerbuild_check.outputs.dockerbuild_matrix }}
      buildargskip_matrix: ${{ steps.buildargskip_check.outputs.dockerfilelist_matrix }}
      dockerbuildpredefined_matrix: ${{ steps.dockerbuildpredefined_check.outputs.dockerbuild_matrix }}
      git_matrix: ${{ steps.git.outputs.git_matrix }}
    steps:
    - name: Force Install git latest
      run: |
        sudo apt-get install -y software-properties-common \
        && sudo apt-get update \
        && sudo add-apt-repository -y ppa:git-core/ppa \
        && sudo apt-get update \
        && sudo apt-get install -y git && \
        git --version
    - name: Checkout Actions Repository
      uses: actions/checkout@v2
    - name: Test dockerfile uptodate GitHub Action
      uses: ./
      id: dockerfile_check
      with: 
        root: ./tests
        parser: dockerfile

    - name: Test dockerhierarchy uptodate GitHub Action
      uses: ./
      id: dockerhierarchy_check
      with: 
        root: ./tests
        parser: dockerhierarchy

    - name: Test dockerfile list uptodate GitHub Action
      uses: ./
      id: dockerfilelist_check
      with: 
        root: ./tests
        parser: dockerfilelist

    - name: Test dockerfile list with skipping build args
      uses: ./
      id: buildargskip_check
      with: 
        root: ./tests
        parser: dockerfilelist
        flags: "--no-build-args"

    - name: Test dockerbuild matrix uptodate GitHub Action
      uses: ./
      id: dockerbuild_check
      with: 
        root: ./tests/ubuntu/clang
        parser: dockerbuild

    - name: Test dockerbuild predefined matrix uptodate GitHub Action
      uses: ./
      id: dockerbuildpredefined_check
      with: 
        root: ./tests/ubuntu/clang-predefined
        parser: dockerbuild

    - name: Test git changes
      uses: ./
      id: git
      with: 
        root: .
        parser: git


  view:
    needs:
      - test
    runs-on: ubuntu-latest
    steps:
      - name: Check Dockerfile result
        env:
          result: ${{ needs.test.outputs.dockerfile_matrix }}
        run: echo ${result}

      - name: Check Dockerfile List Result
        env:
          result: ${{ needs.test.outputs.dockerfilelist_matrix }}
        run: echo ${result}

      - name: Check Dockerfile List Result skippin build args
        env:
          result: ${{ needs.test.outputs.buildargskip_matrix }}
        run: echo ${result}

      - name: Check Docker Hierarchy Result
        env:
          result: ${{ needs.test.outputs.dockerhierarchy_matrix }}
        run: echo ${result}
        
      - name: Check Docker Build Result
        env:
          result: ${{ needs.test.outputs.dockerbuild_matrix }}
        run: echo ${result}

      - name: Check git changes result
        env:
          result: ${{ needs.test.outputs.git_matrix }}
        run: echo ${result}
        
      - name: Check Docker Build Predefined Result
        env:
          result: ${{ needs.test.outputs.dockerbuildpredefined_matrix }}
        run: echo ${result}
